/* Dropdown container */
.dropdownContainer{
    font-size: large;
    font-weight: 500;
    position: relative;
    top: 10rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* background-color: black; */
}

.dropdownContainer p{
    width: 18rem;
    font-size: larger;
    text-align: left;
}

/*  Dropdown switch */
.dropdownSwitch{
    height: 4rem;
    width: 18rem;
    font-size: large;
    font-weight: 500;
    text-align: left;
    box-sizing: border-box;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(230, 230, 250);
    border: none;
}

.dropdownSwitch:hover{
    cursor: pointer;
    background-color: rgb(230, 225, 250)
}

.dropdownSwitch p{
    font-size: large;
}

.dropdownContainer .btn img{
    padding-top: 7px;
}

/* Dropdoen options */
.dropdownList ul{
    width: 18rem;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 3px;
    /* border: 1px solid grey; */
    background-color: white;
}

.dropdownList ul > li{
    height: 3rem;
    width: 18rem;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 15px;
}

.dropdownList ul > li:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 250)
}